<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>snipaste</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">

    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <header class="item">
        <a href="#">snipaste</a>
        <nav>
            <ul>
                <li><a href="https://note.com/akizo/n/nb2174ef72110" target="_blank">使い方</a></li>
                <li><a href="https://twitter.com/akizo110?ref_src=twsrc%5Etfw" class="twitter" target="_blank"><i class="fab fa-twitter bird"></i></a></li>
            </ul>
        </nav>
    </header>

    <div id="app">
        <div class="flex_container item">
            <section class="flex_item">
                <h3 class="sub_title">名前
                    <span class="required"></span>
                    <span class="error" v-if="nameError">{{ nameErrorMessage }}</span>
                </h3>
                <input type="text" id="name" autocomplete="off" v-model="name" :placeholder="namePlaceholder">
            </section>

            <section class="flex_item">
                <h3 class="sub_title">キーワード
                    <span class="required"></span>
                    <span class="error" v-if="prefixError">{{ prefixErrorMessage }}</span>
                </h3>

                <input type="text" id="prefix" autocomplete="off" v-model="prefix" :placeholder="prefixPlaceholder">
            </section>
        </div>


        <section class="item">
            <h3 class="sub_title">説明
                <span class="error" v-if="descriptionError">{{ descriptionErrorMessage }}</span>
            </h3>
            <input type="text" id="description" autocomplete="off" v-model="description"
                :placeholder="descriptionPlaceholder">
        </section>

        <section class="item textarea">
            <div class="flex_container">
                <h3 class="sub_title">コード
                    <span class="required"></span>
                    <span class="error" v-if="bodyError">{{ bodyErrorMessage }}</span>
                </h3>
                <div class="select_wrapper">
                    <h3>インデント</h3>
                    <select class="indent_select" v-model="selected">
                        <option v-for="option in options" v-bind:value="option.value">
                            {{ option.text }}
                        </option>
                    </select>
                </div>

            </div>

            <textarea name="body" id="body" cols="30" rows="10" v-model="body"
                :placeholder="bodyPlaceholder"></textarea>

            <transition name="fade">
                <section class="item modal" id="codeArea" v-if="showModal">
                    <p class="copy_message" v-html="message"></p>
                    <button class="button-small ok_button" type="button" @click="hide()">OK</button>
                    <pre><code>{{ result }}</code></pre>
                </section>
            </transition>

        </section>

        <section class="item">
            <button type="button" @click="generateSnippet()">生　成</button>
        </section>

        <footer>
            <p class="copyright">©️ 2020 Akizo.</p>
        </footer>
    </div>
    <script type="module" src="js/main.js"></script>
</body>


</html>